<p> <%= @emfields[:greeting] %> </p>

<p> <%= @emfields[:preamble] %> </p>

<p> <%= @emfields[:body] %> </p>

<p> <%= @emfields[:preregions] %> </p>

<p> <%= @emfields[:postamble] %> </p>

<p> <%= @emfields[:signoff] %> </p>

<p> <%= @emfields[:signature] %> </p>

A 1st for Property LTD website

Registered in England
Registered Office: Menor House, The Maltings, Sawbridgeworth, Hertfordshire, CM21 9JX, ENGLAND.
Company No: 5184272 VAT No: 837 9501 00

----------------------------------------------------------------
Disclaimer: Internet communications cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted, lost, destroyed, arrive late or incomplete, or contain viruses. All reasonable precautions have been taken to ensure no viruses are present in this e-mail. As 1st for French Property cannot accept responsibility for loss or damage arising from the use of this e-mail or attachments it is recommended that you subject these to your virus checking procedures prior to use.

1st for French Property acts independently locating properties in France with Immobilier, Notaires, Agents Commerciale and Private Individuals. All information in this email and on www.1st-for-french-property.co.uk is believed correct at the time of publishing and is provided in good  faith but is provided by independent third parties. Information provided by 1st for French Property is intended for indicative purposes and does not form part of a contract. 1st for French Property cannot accept responsibility for any losses arising from information, errors or omissions provided in this email, its attachments or the company website. You are advised to seek appropriate professional advice before making any decisions based on the information provided.
----------------------------------------------------------------
AR1st