<h2>Agent Reminder Email Tasks</h2>
<p><%= link_to "View first monthly", {:host => 'www.englandkit.info/reminders', :controller => "rememail", :action => 'display_one_reminder_first'} %></p>
<p><%= link_to "Send first monthly to Howard and Roger", {:host => 'www.englandkit.info/reminders', :controller => "rememail", :action => 'send_one_reminder_first'} %></p>
<p><%= link_to "Show all monthly on screen", {:host => 'www.englandkit.info/reminders', :controller => "rememail", :action => 'show_all_reminders'}%></p>
<p><%= link_to "View first six monthly", {:host => 'www.englandkit.info/reminders', :controller => "rememail", :action => 'display_one_6m_reminder_first'} %></p>
<p><%= link_to "Send first six monthly to Howard and Roger", {:host => 'www.englandkit.info/reminders', :controller => "rememail", :action => 'send_one_6m_reminder_first'} %></p>
<p><%= link_to "Show all six monthly on screen", {:host => 'www.englandkit.info/reminders', :controller => "rememail", :action => 'show_all_6m_reminders'}%></p>
<p>To actually send all reminders see processing screen</p>